* {
    margin: 0;
    padding: 0;
}

#container {
    max-width: 100%;
}

.header {
    width: 100%;
    background-color: white;
    top: 0;
    text-align: center;
    position: fixed;
    height: auto;
}

.logo {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#menu {
    max-width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.linksMenu {
    text-decoration: none;
    color: rgb(27, 26, 26);
}

.linksMenu:visited {
    color: rgb(27, 26, 26);
}

.linksMenu:hover {
    color: rgb(209, 40, 68);
    font-weight: bold;
}

.li {
    list-style: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    color: rgb(27, 26, 26);
    display: inline-block;
    padding: 10px;
}

#main {
    background-color: white;
    width: 100%;
    padding: 40px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(97, 97, 97);
}

#imagemInicial {
    max-width: 100%;
    height: auto;
    padding-top: 290px;
}

#quemSomos {
    width: 100%;
    padding-top: 310px;
}

#contato {
    width: 100%;
    padding-top: 310px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    padding: 20px;

}

p {
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    font-size: 18px;
    padding: 5px;
}

#imagem2 {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}

.linksContato {
    padding: 20px;
}

#icones {
    text-align: center;
    padding-bottom: 40px;
}

.linksContato:visited {
    color: rgb(27, 26, 26);
}

.imagem3 {
    max-width: 100%;
    height: auto;
}

#localizacao {
    width: 100%;
    padding-top: 310px;
    padding-bottom: 40px;
}

.mapa {
    text-align: center;
}

#imagem4 {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.rodape {
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}